version: 1.0.{build}
skip_branch_with_pr: true
image: Visual Studio 2019 Preview
environment:
  WEBHOOK_URL:
    secure: gOKbXaZM9ImtMD5XrYITvdyZUW/az082G9OIN1EC1Vbg57wBaeLhi49uGjxPw5GVujHku6kxN6ab89zhbS5GVeluR76GM83IbKV4Sh7udXzoYZZdg6YudtYHzdhCgUeiedpswbuczTq9ceIkkfSEWZuh/lMAAVVwvcGsJAnoPFw=
build:
  parallel: true
build_script:
- cmd: >-
    git clone --depth=1 --branch=%APPVEYOR_REPO_BRANCH% https://github.com/ModOrganizer2/modorganizer-umbrella.git c:\projects\modorganizer-umbrella 2> $null

    mkdir c:\projects\modorganizer-build -type directory

    cd c:\projects\modorganizer-umbrella

    C:\Python37-x64\python.exe unimake.py -d c:\projects\modorganizer-build -s Appveyor_Build=True %APPVEYOR_PROJECT_NAME%
artifacts:
- path: ..\..\..\install\bin\plugins\plugin_python.dll
  name: plugin_python_dll
- path: ..\..\..\install\pdb\plugin_python.pdb
  name: plugin_python_pdb
- path: ..\..\..\install\libs\plugin_python.lib
  name: plugin_python_lib
- path: ..\..\..\install\bin\plugins\data\pythonrunner.dll
  name: pythonrunner_dll
- path: ..\..\..\install\pdb\pythonrunner.pdb
  name: pythonrunner_pdb
- path: ..\..\..\install\libs\pythonrunner.lib
  name: pythonrunner_lib
on_success:
  - ps: Set-Location -Path $env:APPVEYOR_BUILD_FOLDER
  - ps: Invoke-RestMethod https://raw.githubusercontent.com/DiscordHooks/appveyor-discord-webhook/master/send.ps1 -o send.ps1
  - ps: ./send.ps1 success $env:WEBHOOK_URL
on_failure:
  - ps: Set-Location -Path $env:APPVEYOR_BUILD_FOLDER
  - ps: Invoke-RestMethod https://raw.githubusercontent.com/DiscordHooks/appveyor-discord-webhook/master/send.ps1 -o send.ps1
  - ps: ./send.ps1 failure $env:WEBHOOK_URL