#include "resource.h"

#ifdef SCONS_BUILD
IDR_LOADER_DLL        BINARY  MOVEABLE PURE   pythonRunner.dll
#else
IDR_LOADER_DLL        BINARY  MOVEABLE PURE   "..\\runner\\pythonRunner.dll"
#endif
