name: Build & Test Plugin Python

on:
  push:
    branches: master
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  build:
    runs-on: windows-2022
    steps:
      - name: Build Plugin Python
        id: build-plugin-python
        uses: ModOrganizer2/build-with-mob-action@master
        with:
          mo2-third-parties: fmt gtest python spdlog boost sip pyqt pybind11
          mo2-dependencies: cmake_common uibase
          mo2-cmake-command: -DPLUGIN_PYTHON_TESTS=1 ..
      - name: Test Plugin Python
        run: ctest --test-dir vsbuild -C RelWithDebInfo --output-on-failure
        working-directory: ${{ steps.build-plugin-python.outputs.working-directory }}
